flows.json
[
    {
        "id": "d79d73a9dcc9f2fe",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4bb23ad946c036ff",
        "type": "inject",
        "z": "d79d73a9dcc9f2fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "65620ce4a94bf9e9"
            ]
        ]
    },
    {
        "id": "65620ce4a94bf9e9",
        "type": "function",
        "z": "d79d73a9dcc9f2fe",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "64091164d413df1e",
                "b1d562d13ed29d36"
            ]
        ]
    },
    {
        "id": "64091164d413df1e",
        "type": "debug",
        "z": "d79d73a9dcc9f2fe",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "b1d562d13ed29d36",
        "type": "switch",
        "z": "d79d73a9dcc9f2fe",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 380,
        "wires": [
            [
                "d984eec88b5eb770"
            ]
        ]
    },
    {
        "id": "d984eec88b5eb770",
        "type": "delay",
        "z": "d79d73a9dcc9f2fe",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "4b49018add3f1a32"
            ]
        ]
    },
    {
        "id": "4b49018add3f1a32",
        "type": "http response",
        "z": "d79d73a9dcc9f2fe",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 380,
        "wires": []
    }
]