flows.json
[
    {
        "id": "d79d73a9dcc9f2fe",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6fe51c3bff02f3fb",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "64091164d413df1e",
        "type": "debug",
        "z": "d79d73a9dcc9f2fe",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "8b0b5f82c233d433",
        "type": "http request",
        "z": "d79d73a9dcc9f2fe",
        "name": "Webhook",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:7071/api/v1/webhook",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "64091164d413df1e"
            ]
        ]
    },
    {
        "id": "87b439443e8f02be",
        "type": "http request",
        "z": "d79d73a9dcc9f2fe",
        "name": "Webhook",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://localhost:7071/api/v1/webhook",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 240,
        "wires": [
            [
                "cd3b3e54612c5a5b"
            ]
        ]
    },
    {
        "id": "cd3b3e54612c5a5b",
        "type": "debug",
        "z": "d79d73a9dcc9f2fe",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "4dbce817c300f325",
        "type": "inject",
        "z": "d79d73a9dcc9f2fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test",
        "payloadType": "msg",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "8b0b5f82c233d433",
                "87b439443e8f02be"
            ]
        ]
    },
    {
        "id": "4f9ea9900c55f845",
        "type": "debug",
        "z": "6fe51c3bff02f3fb",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 220,
        "wires": []
    },
    {
        "id": "1e27148f79a58ea6",
        "type": "http request",
        "z": "6fe51c3bff02f3fb",
        "name": "Webhook",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:7071/api/v1/webhook",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 220,
        "y": 220,
        "wires": [
            [
                "4f9ea9900c55f845"
            ]
        ]
    },
    {
        "id": "66a12045369e152b",
        "type": "http request",
        "z": "6fe51c3bff02f3fb",
        "name": "Webhook",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://localhost:7071/api/v1/webhook",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 220,
        "y": 300,
        "wires": [
            [
                "d83cf3837aaf1d0d"
            ]
        ]
    },
    {
        "id": "d83cf3837aaf1d0d",
        "type": "debug",
        "z": "6fe51c3bff02f3fb",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "d269279fddeb40dd",
        "type": "inject",
        "z": "6fe51c3bff02f3fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test",
        "payloadType": "msg",
        "x": 50,
        "y": 260,
        "wires": [
            [
                "1e27148f79a58ea6",
                "66a12045369e152b"
            ]
        ]
    }
]