flows.json
[
    {
        "id": "d79d73a9dcc9f2fe",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4bb23ad946c036ff",
        "type": "inject",
        "z": "d79d73a9dcc9f2fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "65620ce4a94bf9e9"
            ]
        ]
    },
    {
        "id": "65620ce4a94bf9e9",
        "type": "function",
        "z": "d79d73a9dcc9f2fe",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "64091164d413df1e"
            ]
        ]
    },
    {
        "id": "64091164d413df1e",
        "type": "debug",
        "z": "d79d73a9dcc9f2fe",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 140,
        "wires": []
    }
]